{% extends 'base.html' %} {% block content %}

<div class="content-section">
    <div class="media">
        <img class="rounded-circle account-img" src="{{image_file}}" height=200>
        <div class="media-body">
            <h2 class="account-heading">{{ current_user.username }}</h2>
            <p class="text-secondary">{{ current_user.email }}</p>
        </div>
    </div>
    <!-- update from goes here -->

    <div class="content-section">
        <form method="POST" action="" enctype="multipart/form-data">
            {{forms.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Update account info</legend>
                <div class="form-group">
                    {{forms.username.label(class="form-control-label")}} {% if forms.username.errors %} {{forms.username(class="form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in forms.username.errors %}
                        <span>{{error}}</span> {% endfor %}
                    </div>
                    {% else %} {{forms.username(class="form-control form-control-lg")}} {% endif %}
                </div>
                <div class="form-group">
                    {{forms.email.label(class="form-control-label")}} {% if forms.email.errors %} {{forms.email(class="form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in forms.email.errors %}
                        <span>{{error}}</span> {% endfor %}
                    </div>
                    {% else %} {{forms.email(class="form-control form-control-lg")}} {% endif %}
                </div>
                <div class="form-group my-3">
                    {{forms.picture.label()}} {{forms.picture(class="form-control-file")}} {% if forms.picture.errors %} {% for error in forms.picture.errors %}

                    <span class="text-danger">{{ error }}</span> <br> {% endfor %} {% endif %}

                </div>




            </fieldset>
            <div class="form-group">
                {{forms.submit(class="btn btn-outline-primary")}}


            </div>

        </form>
    </div>

</div>
{% endblock content %}